.cart-container {
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.2s;
    position: relative;
}

.cart-container:hover {
    cursor: pointer;
    background-color: lightgrey;
    transform: scale(1.1);
}

.cart-item-count {
    position: absolute;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: yellow;
    bottom: 0;
    left: 0;
}

.hamburger {
    display: none;
}

.hamburger > div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.hamburger:hover {
    cursor: pointer;
}

.nav-bar {
    position: fixed;
    z-index: 10;
    background-color: black;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-brand {
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 1.3rem;
    list-style: none;
}

.shopping-cart {
    height: 40px;
    width: 40px;
}

.link {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 1.5rem;
}

.link:hover {
    color: rgb(186, 182, 182);
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
    }

    .nav-brand {
        display: none;
    }

    .link {
        display: none;
    }
}