.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.nav-container {
    width: 70vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
    position: fixed;
    left: -70vw;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    color: #24a0ed;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 1.5rem;
    margin: 10px 0;
}

.link:hover {
    color: rgba(0, 0, 0, 0.5);
}